As a new appointed data analyst of a bike sharing company, we conduct exploratoty data analysis to get a better understanding of our company.

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
bike_data = pd.read_csv('hour.csv', sep = ",", header = 0)
bike_data

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,count
0,1,1/1/2011,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,3,13,16
1,2,1/1/2011,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,8,32,40
2,3,1/1/2011,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,5,27,32
3,4,1/1/2011,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,3,10,13
4,5,1/1/2011,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17374,17375,12/31/2012,1,1,12,19,0,1,1,2,0.26,0.2576,0.60,0.1642,11,108,119
17375,17376,12/31/2012,1,1,12,20,0,1,1,2,0.26,0.2576,0.60,0.1642,8,81,89
17376,17377,12/31/2012,1,1,12,21,0,1,1,1,0.26,0.2576,0.60,0.1642,7,83,90
17377,17378,12/31/2012,1,1,12,22,0,1,1,1,0.26,0.2727,0.56,0.1343,13,48,61
17378,17379,12/31/2012,1,1,12,23,0,1,1,1,0.26,0.2727,0.65,0.1343,12,37,49

Loaded data contains information, about the date, time, season of the year, holidays, weekdays and weekends,
the weather and the most important information is the final three columns. The casual representing the number of people which used the companies bikes in the hour, registered represents the number of registered users, and the count column is the total number of users per hour. (count = casual + registered)
The temp, humidity, and windspeed is normalized to be between 0 and 1, with 1 being the highest and 0 the lowest.

Examining casual and registered columns the following trends are identified.
    i). There are more registered users than casual ones in most hours. This could mean the business is good at convincing users to register, or the causal process is not easier hence many opt to register or more different scenarios.
    ii). There are peak hours for casual users while the registered users are a a bit more distributed during the day even at 1 AM